.hamburger {
  font-size: 24px;
  background: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
  color: var(--white);
  display: none; /* standaard verborgen */
  cursor: pointer;
  padding: 6px;
  transform: scale(1);
}

.hamburger:hover {
  background: var(--primary-hover);
  transform: scale(1.1);
}

.hamburger:active {
  background: var(--primary-hover);
  transform: scale(0.9);
}

/* Responsive menu */
@media (max-width: 1171px) {
  nav {
    display: none; /* menu standaard verborgen */
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: var(--background-color);
    padding: 15px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
  }

  .hamburger {
    display: block; /* toon de knop */
  }

  nav.show {
    display: block; /* toon menu als actief */
  }
}
